body{
    font-family: Arial, sans-serif;
}
.container{
    width: 80%;
    margin : 0 auto;
}
h1{
    text-align : center;
}
.Tab-Navigation{
    display : flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.Tab-btn{
    background-color: #f1f1f1;
    border : none;
    padding : 10px 20px;
    cursor : pointer;
    font-size : 18px;

}
.Tab-btn:hover{
    background-color: #ddd;
}
.active-tab{
    border-bottom : solid;
    border-bottom-width: 3px;
    border-bottom-color: #4a90e2;
}
.tab-content{
    display : flex;
    flex-direction: column;
    align-items: center;
}
.tab-panel{
    display : none;
    width:100%;
    text-align : center;
}
.tab-panel.active{
    display : block;
}
h2{
    color : #333;
}