h1{
    text-align : center;
    color : #F00008;
    font-style : italic;
    font-weight : bold;
}
table{
    text-align : left;
    margin-left : 35%;
    border-spacing: 10px;
    border-style : solid;
    background-color: #AA99A4 ;
}
td{
    padding : 10px;
}